/*
	https://kafi-rashid.github.io/
	Owner: kafi.rashid@gmail.com
*/

* {
	box-sizing: border-box;
	vertical-align: top;
	font-family: 'Raleway', sans-serif;
	color: #656565;
	font-weight: 100;
	letter-spacing: 2px;
}
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	background-color: #222222;
}
#sky {
	height: 100%;
	width: 100%;
	position: relative;
}
#stars {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.star {
	height: 2px;
	width: 2px;
	border-radius: 50%;
	position: absolute;
	background-color: #a1a1ad;
	transition: 0.3s;
	opacity: 0;
}
#info {
	width: 300px;
	padding: 40px;
	height: 100%;
	text-transform: uppercase;
	text-align: right;
	line-height: 1;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
#info strong {
	font-weight: 700;
	font-size: 50px;
	letter-spacing: -1.3px;
	padding-right: 1px;
}
#info .title {
	line-height: 0.8;
	padding: 0;
	margin: 0;
	font-size: 26px;
}
#hub {
	padding: 30px 0;
}
#hub .page, #hub .repo {
	letter-spacing: 3px;
	font-weight: 700;
	font-size: 13px;
	margin: 15px 0;
}
.repo {
	padding-top: 10px;
}
#pages p, #repos p {
	display: block;
	margin: 0;
	padding: 3px 0;
}
#pages p:after, #repos p:after {
	content: ' ·';
}
#hub a {
	color: #858585;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 10px;
	transition: 0.3s;
}
#hub a:hover, #hub a:focus {
	color: white;
}
.social {
	position: absolute;
	bottom: 40px;
	right: 40px; 
	z-index: 3;
}
.social a {
	text-decoration: none;
}
.social img {
	width: 18px;
	margin-left: 5px;
	filter: invert(40%);
	transition: 0.3s;
}
.social a:hover > img {
	filter: invert(100%);
}
.tooltip-inner {
	padding: 8px 10px;
}
.tooltip, .tooltip * {
	font-size: 12px;
	letter-spacing: 1px;
}
@media (max-height: 470px) {
	.social {
		left: 35px;
		top: 35px;
	}
}